#include "resource.h"

IDI_GOBUTTON ICON "assets/btn_GO.ico"

IDI_LEFT_BTN ICON "assets/left_btn.ico"
IDI_CENTER_BTN ICON "assets/center_btn.ico"
IDI_RIGHT_BTN ICON "assets/right_btn.ico"

IDI_TEXT_BG_LEFT ICON "assets/text_bg_left.ico"
IDI_TEXT_BG_CENTER ICON "assets/text_bg_center.ico"
IDI_TEXT_BG_RIGHT ICON "assets/text_bg_right.ico"

IDI_9_SLICE_2_TOP_LEFT      ICON "assets/9_slice_bg_2/top_left.ico"
IDI_9_SLICE_2_TOP           ICON "assets/9_slice_bg_2/top.ico"
IDI_9_SLICE_2_TOP_RIGHT     ICON "assets/9_slice_bg_2/top_right.ico"
IDI_9_SLICE_2_LEFT          ICON "assets/9_slice_bg_2/left.ico"
IDI_9_SLICE_2_CENTER        ICON "assets/9_slice_bg_2/center.ico"
IDI_9_SLICE_2_RIGHT         ICON "assets/9_slice_bg_2/right.ico"
IDI_9_SLICE_2_BOTTOM_LEFT   ICON "assets/9_slice_bg_2/bottom_left.ico"
IDI_9_SLICE_2_BOTTOM        ICON "assets/9_slice_bg_2/bottom.ico"
IDI_9_SLICE_2_BOTTOM_RIGHT  ICON "assets/9_slice_bg_2/bottom_right.ico"

IDI_9_SLICE_1_TOP_LEFT      ICON "assets/9_slice_bg_1/top_left.ico"      
IDI_9_SLICE_1_TOP_RIGHT     ICON "assets/9_slice_bg_1/top_right.ico"    
IDI_9_SLICE_1_BOTTOM_LEFT   ICON "assets/9_slice_bg_1/bottom_left.ico"  
IDI_9_SLICE_1_BOTTOM_RIGHT  ICON "assets/9_slice_bg_1/bottom_right.ico"  
IDI_9_SLICE_1_CENTER        ICON "assets/9_slice_bg_1/center.ico"       
IDI_9_SLICE_1_LEFT          ICON "assets/9_slice_bg_1/left.ico"      
IDI_9_SLICE_1_TOP           ICON "assets/9_slice_bg_1/top.ico"    
IDI_9_SLICE_1_BOTTOM        ICON "assets/9_slice_bg_1/bottom.ico"  
IDI_9_SLICE_1_RIGHT         ICON "assets/9_slice_bg_1/right.ico"  

IDI_ARROW_LEFT ICON "assets/cross.ico"
IDI_ARROW_RIGHT ICON "assets/arrow_left.ico"
IDI_CROSS ICON "assets/arrow_right.ico"
 